# Ignore node_modules directories
**/node_modules

# Ignore build directories
**/dist

# Ignore IDE specific files
.idea/
.vscode/

# Ignore Mac system files
.DS_Store

# Ignore logs
/logs
*.log

# Ignore npm cache directory
/.npm

# Ignore production build files
**/build

# Ignore project .env files
**/.env
